.first {
    border: 1px solid #dddddd;
}

.second {
    padding: 35px 0;

    .form-name-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1 {
            font-size: 40px;
        }
        form {
            display: flex;
        }
    }
}

.third {
    background-color: #2A80B9;

}